<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body class="dashboard">
    <!-- Menú de navegación -->
    <nav>
        <button class="menu-toggle"><i class="fas fa-bars"></i></button>
        <ul class="nav-links" id="menuDinamico">
            <!-- El menú se generará aquí dinámicamente -->
        </ul>
    </nav>

    <!-- Barra superior -->
    <div class="top-bar">
        <span id="">Panel de Control</span>
 
        <span id="usernameDisplay">Usuario</span>
    </div>

    <!-- Contenedor principal -->
    <div class="dashboard-container">
        <h1>Bienvenido al Dashboard</h1>
        <span id="usernameDisplay" style="color: black; font-weight: bold; font-size: 1.1rem;">Usuario</span>

        <div class="cards-container">
          
        </div>
    </div>

    <script src="/js/dashboard.js"></script>
</body>
</html>