<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/administrar.css">
</head>
<body class="admin-page">

    <header>
        <h1><i class="fas fa-users"></i> Administrar PC´S</h1>
        <button id="btnAgregarUsuario" class="btn-agregar">Agregar PC</button>
        <button id="btnRegresar" class="btn-secondary"><i class="fas fa-arrow-left"></i> Regresar</button>
    </header>

    <div class="admin-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="usuariosTabla">
                <!-- Aquí se cargarán los usuarios dinámicamente -->
            </tbody>
        </table>

        <!-- Modal para Agregar Usuario -->
        <div id="modalAgregarUsuario" class="modal">
            <div class="modal-content">
                <span class="cerrar" onclick="cerrarModal()">&times;</span>
                <h2>Agregar Usuario</h2>
                <form id="formAgregarUsuario">
                    <label for="nombre">Nombre de usuario:</label>
                    <input type="text" id="nombre" required>

                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" required>

                    <label for="rolSelect">Rol:</label>
                    <select id="rolSelect" required></select>

                    <button type="submit" class=" btn-secondary btn-guardar">Guardar</button>
                    <button type="button" class="btn-secondary" onclick="cerrarModal()">Cancelar</button>

                </form>
            </div>
        </div>

    </div>

    <!-- Modal para Editar Usuario -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="cerrar" onclick="cerrarModal()">&times;</span>

            <h2>Editar Usuario</h2>
            <input type="hidden" id="editId">

            <label>Nombre:</label>
            <input type="text" id="editNombre">

            <label>Correo:</label>
            <input type="email" id="editCorreo">

            <label>Rol:</label>
            <select id="editRol"></select> <!-- Ahora es un select -->

            <button onclick="guardarEdicion()" class="btn-primary">Guardar</button>
            <button onclick="cerrarModal()" class="btn-secondary">Cancelar</button>
        </div>
    </div>



    <script src="/js/administrarV2.js"></script>
</body>
</html>
